@media projection, screen { /* Use class for showing/hiding tab content, so that visibility can be better controlled in different media types... */
    .tabs3-hide {
        display: none;
    }
}

/* Hide useless elements in print layouts... */
@media print {
    .tabs3-nav {
        display: none;
		
    }
}

/* Skin */
.tabs3-nav {
	float:left;
	width:610px;
	height:31px;
	border-bottom:1px solid #21485b;
	list-style: none;
	padding: 0 0 0px 0PX;
}
.tabs3-nav:after { /* clearing without presentational markup, IE gets extra treatment */
    display: block;
    clear: both;
    content: " ";
}
.tabs3-nav li {
    float: left;
    margin: 0 5px 0 0;
    min-width: 87px; /* be nice to Opera */
	font-size:18px;
	font-family: "UTM Habano", "UTM Hanzel", "UTM Helve";
}
.tabs3-nav a, .tabs3-nav a span {
    display: block;
    padding: 0 5px;
    background: url(../images/tab3.png) no-repeat;
}
.tabs3-nav a {
    position: relative;
    top: 0px;
    z-index: 2;
    padding-left: 0;
    color: #76eef2;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
    white-space: nowrap; /* required in IE 6 */    
}
.tabs3-nav .tabs3-selected a {
    color: #013f4d;
	text-shadow:1px 1px #ffffff;
}
.tabs3-nav .tabs3-selected a, .tabs3-nav a:hover, .tabs3-nav a:focus, .tabs3-nav a:active {
    background-position: 100% -32px;
    outline: 0; /* prevent dotted border in Firefox */
	color:#013f4d;
}
.tabs3-nav a, .tabs3-nav .tabs3-disabled a:hover, .tabs3-nav .tabs3-disabled a:focus, .tabs3-nav .tabs3-disabled a:active {
    background-position: 100% -64px;
}
.tabs3-nav a span {
    width: 87px; /* IE 6 treats width as min-width */
    min-width: 87px;
    height: 28px; /* IE 6 treats height as min-height */
    min-height: 28px;
    padding-top: 4PX;
    padding-right: 0;
}
*>.tabs3-nav a span { /* hide from IE 6 */
    width: auto;
    height: auto;
}
.tabs3-nav .tabs3-selected a span {
    padding-top: 4PX;
}
.tabs3-nav .tabs3-selected a span, .tabs3-nav a:hover span, .tabs3-nav a:focus span, .tabs3-nav a:active span {
    background-position: 0 -32px;
}
.tabs3-nav a span, .tabs3-nav .tabs3-disabled a:hover span, .tabs3-nav .tabs3-disabled a:focus span, .tabs3-nav .tabs3-disabled a:active span {
    background-position: 0 0;
}
.tabs3-nav .tabs3-selected a:link, .tabs3-nav .tabs3-selected a:visited, .tabs3-nav .tabs3-disabled a:link, .tabs3-nav .tabs3-disabled a:visited { /* @ Opera, use pseudo classes otherwise it confuses cursor... */
    cursor: text;
}
.tabs3-nav a:hover, .tabs3-nav a:focus, .tabs3-nav a:active { /* @ Opera, we need to be explicit again here now... */
    cursor: pointer;
}
.tabs3-nav .tabs3-disabled {
    opacity: .4;
}

.tabs3-container {
	float:left;
	width:580px;
	padding:15px;
}
* html .tabs3-container {
	float:left;
	width:580px;
	padding:15px;
}


