.content-event-h1 {
    background: url("../images/icon_3.png") no-repeat scroll 1px 7px transparent;
    float: left;
    font-size: 15px;
    height: 20px;
    padding: 10px 13px 8px 28px;
    width: 95%;
}
.content-event-h2 {
    background: url("../images/icon_item1.gif") no-repeat scroll 15px 6px transparent;
    float: left;
    font-size: 12px;
    height: 20px;
    padding: 2px 13px 4px 28px;
    width: 95%;
}
.content-event-first {
    float: left;
    font-family: times new roman;
    font-size: 55px;
    height: 23px;
    line-height: 18px;
    margin: 6px 2px 0 -6px;
    text-align: left;
}
.content {
    clear: both;
    min-height: 20px;
    text-align: justify;
    width: 545px;
    padding: 20px 25px;
    color: #FFF;
    line-height: 18px;
}
.content img{
	border: 1px solid #221D3F;
    max-width: 550px;
    outline: 1px solid #fff;
    margin: 15px;
}
.content p{
	margin: 4px 0;
	clear: both;
	
}
.content fieldset {
    border: 1px solid #C36E60;
    margin: 20px 0;
}
.content fieldset legend {
    color: #B00000;
    font-weight: bold;
    padding: 0 15px;
}
.content fieldset ul {
    list-style: none outside none !important;
    margin: 0;
    padding: 10px 0 0 20px;
}
.content fieldset ul li {
    background: url("../images/icon_person.gif") no-repeat scroll 0 4px transparent;
    line-height: 20px;
    margin: 0 0 5px;
    padding: 0 20px;
    text-align: justify;
}
.content p {
    padding: 0 8px;
}

.ti-de{
	text-align: center;
	color: #b29ce8;
	padding-top: 20px;	
}
.cotainer-choice-list .content-bottom {
    float: left;
    height: 100%;
    margin: 0;
    padding: 10px 0 0;
    width: 15%;
}
.cotainer-choice-list .item {
    float: left;
    height: 100%;
    margin: 0;
    padding: 10px 0 0;
    width: 40%;
}
.cotainer-choice-list .item .label {
    font-weight: bold;
    height: 20px;
    letter-spacing: -1px;
    margin: 0;
    min-width: 10px;
    padding: 4px 0 0;
    vertical-align: middle;
}
.cotainer-choice-list .right-float {
    text-align: left;
    width: 38%;
}
.cotainer-choice-list .line {
    background: url("../images/chi.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 50px;
    margin: 0 11px;
    width: 3px;
}
table {
	border-collapse: collapse;
}
.content table{
	text-align: center;
	border: 1px solid #000000;
	max-width:543px !important;
}
.content table tr:nth-child(2n)  { color: #000;background: #E7DDBF;  border: 1px solid #000000;}
.content table tr:nth-child(2n+1)  { color: #000;background: #F5F1E4;  border: 1px solid #000000;}
.content table tr:first-child td {color: #FFF ; border: 1px solid #000000;}
.content table tr:first-child td p strong{color: #FFF !important}
.content table tr:first-child  { color: #FFF !important;font-weight:bold;background:#0C4E6A ;border: 1px solid #000000; }
.content table tr td{
	margin:0px;
	padding: 5px 10px;
	 border: 1px solid #000000;
}
.content table tr td strong,.contentArea table tr td p{
	padding: 0px;
	margin: 0px;
}
.content table tr td p{	
	margin: 0px;
}
.content ul{
	margin: 0px;
    padding: 10px 10px 10px 40px;	
}
.content ul li{
	margin: 0px;
    padding: 0px;	
}