/* 
    Project     : BS
    Created on  : Mar 16, 2013, 11:29:15 PM
    Author      : admin@local.com
    Description :
        Purpose of the stylesheet follows.
*/
html, body, div, h1, h2, h3, h4, h5, h6, p, img, dl,
dt, dd, ol, ul, li, table, tr, td, form, object, embed,
article, aside, canvas, command, details, fieldset,
figcaption, figure, footer, group, header, hgroup, legend,
mark, menu, meter, nav, output, progress, section, summary,
time, audio, video {
    margin: 0;padding: 0;border: 0;
}
.jfk-bubble .jfk-bubble-content{min-width: 240px}
.jfk-bubble.jfk-bubble-promo {background-color: #F9EDBE;border: 1px solid #F0C36D;}
.jfk-bubble-arrowup {top: -9px;}
.jfk-bubble{-webkit-box-shadow:0 1px 8px rgba(0,0,0,.3);-moz-box-shadow:0 1px 8px rgba(0,0,0,.3);box-shadow:0 1px 8px rgba(0,0,0,.3);background-color:#fff;border:1px solid;border-color:#bbb #bbb #a8a8a8;padding:16px;position:absolute;z-index:1201!important;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;}
.jfk-bubble-closebtn{background:url("https://ssl.gstatic.com/ui/v1/icons/common/x_8px.png") no-repeat;height:21px;opacity:.4;outline:0;position:absolute;right:2px;top:2px;width:21px}
.jfk-bubble-closebtn:focus,.jfk-bubble-closebtn:hover{opacity:1}
.jfk-bubble .jfk-bubble-closebtn{display: none}
.jfk-bubble:hover .jfk-bubble-closebtn{display: block}
.jfk-bubble-arrow{position:absolute}
.jfk-bubble-arrow .jfk-bubble-arrowimplbefore,.jfk-bubble-arrow .jfk-bubble-arrowimplafter{display:block;height:0;position:absolute;width:0}
.jfk-bubble-arrow .jfk-bubble-arrowimplbefore{border:9px solid}
.jfk-bubble-arrow .jfk-bubble-arrowimplafter{border:8px solid}
.jfk-bubble-arrowdown{bottom:0}
.jfk-bubble-arrowup{top:-9px}
.jfk-bubble-arrowleft{left:-9px}
.jfk-bubble-arrowright{right:0}
.jfk-bubble-arrowdown .jfk-bubble-arrowimplbefore,.jfk-bubble-arrowup .jfk-bubble-arrowimplbefore{border-color:#bbb transparent;left:-9px}
.jfk-bubble-arrowdown .jfk-bubble-arrowimplbefore{border-color:#a8a8a8 transparent}
.jfk-bubble-arrowdown .jfk-bubble-arrowimplafter,.jfk-bubble-arrowup .jfk-bubble-arrowimplafter{border-color:#fff transparent;left:-8px}
.jfk-bubble-arrowdown .jfk-bubble-arrowimplbefore{border-bottom-width:0}
.jfk-bubble-arrowdown .jfk-bubble-arrowimplafter{border-bottom-width:0}
.jfk-bubble-arrowup .jfk-bubble-arrowimplbefore{border-top-width:0}
.jfk-bubble-arrowup .jfk-bubble-arrowimplafter{border-top-width:0;top:1px}
.jfk-bubble-arrowleft .jfk-bubble-arrowimplbefore,.jfk-bubble-arrowright .jfk-bubble-arrowimplbefore{border-color:transparent #bbb;top:-9px}
.jfk-bubble-arrowleft .jfk-bubble-arrowimplafter,.jfk-bubble-arrowright .jfk-bubble-arrowimplafter{border-color:transparent #fff;top:-8px}
.jfk-bubble-arrowleft .jfk-bubble-arrowimplbefore{border-left-width:0}
.jfk-bubble-arrowleft .jfk-bubble-arrowimplafter{border-left-width:0;left:1px}
.jfk-bubble-arrowright .jfk-bubble-arrowimplbefore{border-right-width:0}
.jfk-bubble-arrowright .jfk-bubble-arrowimplafter{border-right-width:0}
.jfk-bubble.jfk-bubble-promo{background-color:#f9edbe;border:1px solid #f0c36d}
.jfk-bubble-promo .jfk-bubble-arrowdown .jfk-bubble-arrowimplbefore,.jfk-bubble-promo .jfk-bubble-arrowup .jfk-bubble-arrowimplbefore{border-color:#f0c36d transparent}
.jfk-bubble-promo .jfk-bubble-arrowdown .jfk-bubble-arrowimplafter,.jfk-bubble-promo .jfk-bubble-arrowup .jfk-bubble-arrowimplafter{border-color:#f9edbe transparent}
.jfk-bubble-promo .jfk-bubble-arrowleft .jfk-bubble-arrowimplbefore,.jfk-bubble-promo .jfk-bubble-arrowright .jfk-bubble-arrowimplbefore{border-color:transparent #f0c36d}
.jfk-bubble-promo .jfk-bubble-arrowleft .jfk-bubble-arrowimplafter,.jfk-bubble-promo .jfk-bubble-arrowright .jfk-bubble-arrowimplafter{border-color:transparent #f9edbe}

.jfk-bubble.jfk-bubble-promo.gray {background-color: #Fafafa;border: 1px solid #ddd;}
.jfk-bubble.jfk-bubble-promo.gray .jfk-bubble-arrowimplbefore{border-color:#ddd transparent}
.jfk-bubble.jfk-bubble-promo.gray .jfk-bubble-arrowimplafter{border-color:#fafafa transparent}

.jfk-bubble.jfk-bubble-promo.grayc {background-color: #FFF1A8;border: 1px solid #ccc;}
.jfk-bubble.jfk-bubble-promo.grayc .jfk-bubble-arrowimplbefore{border-color:#ccc transparent}
.jfk-bubble.jfk-bubble-promo.grayc .jfk-bubble-arrowimplafter{border-color:#FFF1A8 transparent}

.jfk-bubble.jfk-bubble-promo.white {background-color: #fff;border: 1px solid #ddd;}
.jfk-bubble.jfk-bubble-promo.white .jfk-bubble-arrowimplbefore{border-color:#ddd transparent}
.jfk-bubble.jfk-bubble-promo.white .jfk-bubble-arrowimplafter{border-color:#fff transparent}

.jfk-bubble.jfk-bubble-promo.blue {background-color: #A8EDFF;border: 1px solid #51DBFF;}
.jfk-bubble.jfk-bubble-promo.blue .jfk-bubble-arrowimplbefore{border-color:#00CBFF transparent}
.jfk-bubble.jfk-bubble-promo.blue .jfk-bubble-arrowimplafter{border-color:#A8EDFF transparent}

.clear {clear: both;display: block;overflow: hidden;visibility: hidden;width: 0;height: 0;}
.my-content{
    text-align: justify;
    font-family: Arial, Tahoma sans-serif;
    font-size: 13px;
}
.my-content h1,.my-content h2,.my-content h3,.my-content h4, .my-content h5,.my-content h6{
    clear: both;
    padding-top: 8px;padding-bottom: 8px;
    padding-left: 1em;
    font-family: inherit;
}
.my-content h1,.my-content h2{
    padding-left: 0em;
    line-height: 1.2em;
}
.my-content h4,.my-content h5{
    padding-left: 0em;
    line-height: 1.2em;
}
.my-content h1{
    padding-left: 36px;
    background-image: url('icon/h3.png');
    background-repeat: no-repeat;
    background-position: 0 center;
    line-height: 1.2em;
    font-size: 18pt;
    font-family: tahoma,arial,helvetica,sans-serif;
}
.my-content h2{
    padding-left: 60px;
    background-image: url('icon/h4.png');
    background-repeat: no-repeat;
    background-position: 38px center;
    line-height: 1.2em;
}
.my-content h3{
    padding-left: 60px;
}
/*.my-content h3+h4{
    padding-left: 60px;
    background-position: 36px center;
}*/
.my-content h1,.my-content h2,.my-content h3,.my-content h4{
    color: #8F261B;
}
.my-content span.first-letter,.FirstChar { 
    float: left; 
    font-size: 3.5em; 
    line-height: 1em;
    padding-top: 0px; 
    padding-right: 8px;
    color: #8F261B;
}
.my-content p{
    text-align: justify;
    padding-top: 4px;
    padding-bottom: 4px;
    clear: both;
}
.my-content p+p,
.my-content .indent{
/*    text-indent: 2.5em;*/
}
.my-content p:first-child,.first-letter,.my-content p.first-letter{
    text-indent: 0;
}
/*.my-content>p:first-child:first-letter,*/
.my-content p.first-letter:first-letter ,
.my-content div.first-letter:first-letter{
    text-align: justify;
    font-size: 3.5em; 
    line-height: 1em;
    display: block;
    display: block;
    padding-right: 8px;
    color: #8F261B;
    float: left;
}
.my-content tt {
    font-family: inherit;
    padding: 0px 2px 1px 2px;
    background: #A8D4FF;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}
.my-content .highlight-yeallow{
    font-family: inherit;
    padding: 0px 2px 1px 2px;
    background: #FFFCA8;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}
.my-content .highlight-red{
    font-family: inherit;
    padding: 0px 2px 1px 2px;
    background: #FFA8AC;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}
.my-content .highlight-blue{
    font-family: inherit;
    padding: 0px 2px 1px 2px;
    background: #A8D4FF;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}
.my-content .highlight-green{
    font-family: inherit;
    padding: 0px 2px 1px 2px;
    background: #BAEDD3;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}
.my-content ol{
    min-width: 50%;
    display: block;
    list-style: normal;
    list-style-type: decimal-leading-zero;
    /*    border-top: 1px solid #fff;*/
    /*    border-left: 1px solid #fff;*/
    /*    outline: 1px solid #ccc;*/
    padding-left: 86px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin: 0;
    clear: both;
}
.my-content ol li{
    list-style-type: decimal-leading-zero;
    /* border-left: 1px solid #924816;
       padding: 4px 12px 4px 12px;*/
    padding-left: 12px;
    line-height: 16px;

}
.my-content ul{
    list-style: normal;
    min-width: 50%;
    display: block;
    padding-left: 76px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin: 0;
    clear: both;
}
.my-content h3+h4+ul{
    padding-left: 76px;
}
.my-content ul li{
    list-style-type: square;
}
.my-content a{
    color:#9A350E;
}
.my-content a:hover{
    text-decoration: underline;
}

.my-content blockquote{
    overflow: hidden;
    margin: 1em 2em;
    padding: 0.8em 1.25em 1em 24px;
    background: #f3f3f0 url(icon/bg_blockquote2.gif) top left no-repeat;
    color: #543;
    border: 1px solid rgb(228, 182, 39);
    border-left: none;
}
.my-content span.step {
    background: rgb(100, 83, 58);
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: #ffffff;
    display: inline-block;
    line-height: 1.6em;
    margin-right: 5px;
    text-align: center;
    padding: 0 0.5em;
}
.my-content table{border-collapse: collapse;}
.my-content th,.my-content td{border: 1px solid rgb(167, 125, 123);;display: table-cell; padding: 4px 8px}
.my-content tr{display: table-row}
.my-content th>p,.my-content td>p{
    padding: 0
}
.my-content img{border: 1px solid #777;background: #fff;padding: 1px}
.my-content pre {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
.my-content .box{
    border: 1px solid #ddd;
    padding: 8px;
}
.my-content .tabs{
    padding: 8px 0px
}
.my-content .tabs .tab-tit{
    border-bottom: 1px solid #ccc;
}
.my-content ul.tab-nav{
/*    display: block;float: left;*/
    list-style: none;
    height: 25px-;overflow:hidden;
    padding: 0px;margin: 0;
}
.my-content ul.tab-nav li{
    list-style: none;
    float: left;
    cursor: pointer;
    text-align: center;
    position: relative;
    margin: 0 2px 0 0;
    padding: 0 8px;
    height: 30px;
    line-height: 37px;
    color: #000;
/*    border: 1px solid #5e0b0e;*/
    margin-top: 8px;
    background: url("../../layout/homepage/images/bg-tab-tin_.png") repeat-x bottom left transparent;
    
}
.my-content ul.tab-nav li.newtab,.my-content ul.tab-nav li.newtab:hover,.my-content ul.tab-nav li.hover.newtab:hover{
    border: 0px solid #bea787;
    
}
.my-content ul.tab-nav li.newtab a{background: #ccc;border-radius: 4px;}
.my-content ul.tab-nav li a,.my-content ul.tab-nav li span{text-decoration: none;}
.my-content ul.tab-nav li.hover,.my-content ul.tab-nav li:hover{
    font-weight: bold;
    color: #fff;
    background: url("../../layout/homepage/images/bg-tab-tinhv.jpg") repeat-x center 0px transparent;

}
.my-content ul.tab-nav li.hover a,.my-content ul.tab-nav li.hover span,.my-content ul.tab-nav li:hover a,.my-content ul.tab-nav li:hover span{
    color: #fff;
}
.my-content .tab{padding: 8px}
.my-content .mceNonEditable:hover,.my-content .mceNonEditable {
	background: #FFA8AC !important;
}
.my-content .tabs .newtab{display: none}
.my-content .tabs .tab:not(:first-child){display: none}
body.my-content .tabs .newtab{display: block}
body.my-content .tab,body.my-content .my-content .tab{border: 2px dotted #BAEDD3}
table.classic-style th{
	background:rgb(99, 49, 48);
	font-size:13px;
	color:#fff;
}
table.classic-style tr:nth-child(odd) td{
	background:#d5cec4;
	font-size:13px;
}
table.classic-style tr:nth-child(even) td{
	background:#fff;
	font-size:13px;
}
.item-image a > img{
    height: 125px!important;
    width: 168px!important;
}
/*
img, object{
	max-height:99%;
	max-width:95%;
	alignment-adjust: central;
}
*/