/*sidebar*/
.skin-blue .sidebar-form {margin: 12.5px;}
/*content-header*/
.right-side > .content-header{padding-bottom: 36px;}
/*addfix*/
.affix {position: fixed;top: 0px;z-index: 1000;}
/*content*/
.content {background: #FFF;}