/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 18, 2015, 8:56:03 AM
    Author     : phuc
*/
body{font-family: time}
p{color:#0F425D !important;}
h3{margin:0px;display: inline-block;font-weight: bold;}
#top-left{font-size:12px}
.banhanh{font-size: 10px;font-style: italic;}

.row {margin-right: -18px;margin-left: -18px;}
.margin{margin: 50px;}
.container-fluid{line-height: 6px;padding: 0 51px;}
label{font-size: 15x;}
.date{padding-right: 40px; font-style: italic;}
.red{color:red !important;font-weight: bold;font-size: 12px;}
footer{padding:0 10px;line-height: 12px;}

.navbar-fixed-top{position: static !important;padding-top: 5px;}
.sign_left{float: left;width: 525px;}