#tc_right {
    height: 900px;
}

.register_row {
    margin: 30px;
    width: 100%;
    font-size:15px;
}
.register_row .label-register {
    width: 200px;
    padding: 0 20px;
    font-weight: bold;
}
.list {
    background-color: #180402;
    border: 1px solid #bd1511;
    border-radius: 3px;
    color: #ffe57b;
    font-weight: 500;
    height: 30px;
    padding-left: 5px;
    width: 210px;
}
.notice {
    color: red;
    font-weight: bold;
    padding: 10px 20px;
}
                
#form_giftcode input[type="submit"]:hover{
  cursor:pointer;
}
#form_giftcode h1{
    text-align: center;
}
::-webkit-input-placeholder {
   color: white;
}

:-moz-placeholder { /* Firefox 18- */
   color: white;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white;  
}

:-ms-input-placeholder {  
   color: white;  
}